force-app/main/default/flows/Update_total_donations_in_Program_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Program_Event_ID</name>
        <label>Assign Program/ Event ID</label>
        <locationX>397</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>ProgramEventID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Programme_Event__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Donation_Amount</name>
        <label>Assign Total Donation Amount</label>
        <locationX>810</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>StoringTotalDonationAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Donations.Donation_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Donations</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update total donations in Program/ Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update total donations in Program/ Events</label>
    <loops>
        <name>Loop_through_Donations</name>
        <label>Loop through Donations</label>
        <locationX>816</locationX>
        <locationY>192</locationY>
        <collectionReference>Get_Donation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Donation_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Total_Donation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Donation_Records</name>
        <label>Get Donation Records</label>
        <locationX>533</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Donations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEventID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Donation_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donations__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Donation_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Total Donation Amount  based Donation Amount from Donation object</description>
        <name>Update_the_Total_Donation</name>
        <label>Update the Total Donation</label>
        <locationX>1002</locationX>
        <locationY>211</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEventID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Donation_Amt__c</field>
            <value>
                <elementReference>StoringTotalDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Programme_Events__c</object>
    </recordUpdates>
    <start>
        <locationX>18</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Assign_Program_Event_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Donations__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ProgramEventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoringTotalDonationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
